payload_v11.json
{"name": "[SUB] Funil Experimental - AI Agent", "nodes": [{"parameters": {"workflowInputs": {"values": [{"name": "from"}, {"name": "text"}, {"name": "session_id"}, {"name": "professor"}, {"name": "coleta_step"}, {"name": "participant_type"}]}}, "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [384, 880], "id": "cbef632f-0ceb-43a7-a2cf-d870778828c2", "name": "Execute Workflow Trigger"}, {"parameters": {"assignments": {"assignments": [{"id": "e1", "name": "phone", "value": "={{ $json.from }}", "type": "string"}, {"id": "e2", "name": "session_id", "value": "={{ $json.session_id }}", "type": "string"}, {"id": "e3", "name": "user_message", "value": "={{ $json.text }}", "type": "string"}, {"id": "e4", "name": "professor", "value": "={{ $json.professor }}", "type": "string"}, {"id": "e5", "name": "coleta_step", "value": "={{ $json.coleta_step }}", "type": "string"}, {"id": "e6", "name": "participant_type", "value": "={{ $json.participant_type }}", "type": "string"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [608, 880], "id": "1eaae503-8269-45eb-8b8a-64573889f77d", "name": "Entrada"}, {"parameters": {"jsCode": "const msg = ($input.first().json.user_message || '').toLowerCase().trim();\n\n// Sinais inequivocos de despedida — sempre encerram\nconst sinais_inequivocos = ['tchau','xau','flw','ate mais','adeus','👋','bye'];\n// Sinais ambiguos — so encerram se todos os 4 dados ja foram coletados\nconst sinais_ambiguos = ['valeu','obrigado','👍','ok','oks','tudo bem','tmj','certo','entendi'];\n\nconst encerrando_inequivoco = sinais_inequivocos.some(s => msg.includes(s));\nconst encerrando_ambiguo    = !encerrando_inequivoco && sinais_ambiguos.some(\n  s => msg === s || msg.startsWith(s + ' ') || msg.endsWith(' ' + s) || msg.includes(' ' + s + ' ')\n);\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    encerrando_inequivoco,\n    encerrando_ambiguo\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [832, 880], "id": "b27e07d8-25e8-4767-b9ee-ae250992d50b", "name": "Detecta Encerramento"}, {"parameters": {"operation": "executeQuery", "query": "SELECT nps, sugestao, objecoes, intent_matricula, nome, last_bot_message_at\nFROM trial_feedback\nWHERE session_id = $1\nLIMIT 1", "options": {"queryReplacement": "={{ [ $('Entrada').item.json.session_id ] }}"}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [1056, 880], "id": "75dabd13-3bc7-4397-b65a-66e5a75b7086", "name": "Busca Estado", "credentials": {"postgres": {"id": "Qu3wWADR0qH8hskO", "name": "Postgres account"}}}, {"parameters": {"jsCode": "const entrada = $('Detecta Encerramento').first().json;\nconst estado  = $('Busca Estado').first().json;\n\nconst phone            = entrada.phone || '';\nconst session_id       = entrada.session_id || '';\nconst user_message     = entrada.user_message || '';\nconst professor        = entrada.professor || '';\nconst coleta_step      = entrada.coleta_step || 'q1';\nconst participant_type = entrada.participant_type || 'prospect';\n\nif (!phone || !session_id) {\n  return [{ json: { error: 'phone e session_id sao obrigatorios' } }];\n}\n\nconst nps              = estado.nps !== undefined && estado.nps !== null ? estado.nps : null;\nconst sugestao         = estado.sugestao && estado.sugestao.trim() !== '' ? estado.sugestao.trim() : null;\nconst objecoes         = estado.objecoes && estado.objecoes.trim() !== '' ? estado.objecoes.trim() : null;\nconst intent_matricula = estado.intent_matricula !== undefined && estado.intent_matricula !== null ? estado.intent_matricula : null;\nconst nome             = estado.nome && estado.nome.trim() !== '' ? estado.nome.trim() : null;\n\n// ── DECISAO DE ENCERRAMENTO ─────────────────────────────────────────────────\n// inequivoco (tchau, flw, 👋) => encerra sempre\n// ambiguo (ok, 👍, valeu)     => so encerra se todos os 4 campos ja estao no banco\nconst encerrando_inequivoco = entrada.encerrando_inequivoco || false;\nconst encerrando_ambiguo    = entrada.encerrando_ambiguo    || false;\nconst todos_ja_no_banco     = nps !== null && sugestao !== null && objecoes !== null && intent_matricula !== null;\nconst encerrando            = encerrando_inequivoco || (encerrando_ambiguo && todos_ja_no_banco);\n// ────────────────────────────────────────────────────────────────────────────\n\nconst linha_nps  = nps !== null              ? 'NPS: ' + nps + '/10 - ENCERRADO'                                  : 'NPS: nao coletado';\nconst linha_sug  = sugestao                  ? 'Sugestao: \"' + sugestao + '\" - ENCERRADO'                         : 'Sugestao: nao coletada';\nconst linha_obj  = objecoes                  ? 'Objecao: \"' + objecoes + '\" - ENCERRADO'                          : 'Objecao: nao coletada';\nconst linha_int  = intent_matricula !== null ? 'Intencao: ' + (intent_matricula ? 'sim' : 'nao') + ' - ENCERRADO' : 'Intencao: nao coletada';\n\nconst faltando = [\n  nps === null             ? 'NPS (como avaliaria a experiencia de 0 a 10)' : null,\n  !sugestao                ? 'Sugestao (o que gostou ou mudaria)'           : null,\n  !objecoes                ? 'Objecao (alguma hesitacao sobre se matricular)' : null,\n  intent_matricula === null ? 'Intencao (pensa em se matricular?)'           : null\n].filter(Boolean);\n\nconst e_primeira_mensagem = !estado.last_bot_message_at; // true somente se bot nunca respondeu nessa sessao\n\nconst primeira_mensagem_fixa = nome\n  ? 'Oi, ' + nome + '! Sou o Bell, assistente da Academia Treno. Estou entrando em contato pra saber como foi sua aula experimental hoje. O que voce achou da experiencia?'\n  : 'Oi! Sou o Bell, assistente da Academia Treno. Estou entrando em contato pra saber como foi sua aula experimental hoje. O que voce achou da experiencia?';\n\nlet prompt_communicator = '';\n\nif (encerrando) {\n  prompt_communicator = 'Voce e o Bell, assistente da Academia Treno.\\n'\n    + 'O usuario sinalizou que quer encerrar a conversa.\\n'\n    + 'Encerre de forma calorosa e curta, desejando boa sorte nos treinos.\\n'\n    + 'Nao faca nenhuma pergunta.';\n} else {\n  const bloco_apresentacao = e_primeira_mensagem\n    ? 'PRIMEIRA MENSAGEM — FORMATO OBRIGATORIO:\\n'\n      + 'Voce AINDA NAO se apresentou. A pessoa nao sabe quem voce e.\\n'\n      + 'Sua resposta DEVE conter, nesta ordem:\\n'\n      + '  1. Cumprimento pelo nome (ex: \\\"Oi Fulano!\\\")\\n'\n      + '  2. OBRIGATORIO: diga \\\"Sou o Bell, assistente da Academia Treno\\\"\\n'\n      + '  3. Mencione que viu que ela fez uma aula experimental hoje\\n'\n      + '  4. Pergunta de NPS: de 0 a 10, como foi?\\n'\n      + 'NUNCA omita o item 2. Se nao incluir nome+academia, a mensagem esta errada.\\n'\n      + 'Exemplo correto: \\\"Oi Fulano! Sou o Bell, assistente da Academia Treno. Vi que vc experimentou uma aula hoje — de 0 a 10, como foi?\\\"\\n'\n    : '';\n\n  const msg_encerramento = intent_matricula === true\n  ? 'O usuario quer se matricular. Encerre dizendo que a equipe da Academia Treno vai entrar em contato em breve. Deseje boas-vindas.'\n  : intent_matricula === false\n  ? 'O estado mostra que o usuario nao quis se matricular. MAS se a mensagem ATUAL do usuario expressar interesse (sim, quero, vou...), encerre com CTA: a equipe da Treno vai entrar em contato. Se realmente nao quer, encerre calorosamente dizendo que a porta esta sempre aberta.'\n  : 'Encerre agradecendo e desejando bons treinos.';\n\nconst proximo_objetivo = faltando.length > 0\n    ? 'OBJETIVO DESTA MENSAGEM: Colete -- ' + faltando[0] + '.'\n    : 'OBJETIVO DESTA MENSAGEM: Todos os dados foram coletados. ' + msg_encerramento + ' Nao faca mais perguntas.';\n\n  prompt_communicator = 'Voce e o Bell, assistente da Academia Treno.\\n'\n    + (nome ? 'Voce esta conversando com ' + nome + '. Use o nome dele naturalmente uma vez no inicio, depois so se couber.\\n' : 'Voce esta conversando com alguem que fez uma aula experimental hoje.\\n')\n    + 'Seu papel e ter uma conversa genuina e humana, nao um formulario.\\n'\n    + '\\n'\n    + 'ESTADO CONFIRMADO DA CONVERSA:\\n'\n    + linha_nps + '\\n'\n    + linha_sug + '\\n'\n    + linha_obj + '\\n'\n    + linha_int + '\\n'\n    + '\\n'\n    + 'DADOS QUE AINDA FALTAM:\\n'\n    + (faltando.length > 0 ? faltando.join('\\n') : 'Nenhum - todos coletados') + '\\n'\n    + '\\n'\n    + 'REGRA ABSOLUTA: Nunca faca perguntas sobre eixos marcados como ENCERRADO.\\n'\n    + '\\n'\n    + bloco_apresentacao + proximo_objetivo + '\\n'\n    + '\\n'\n    + 'REGRA CRITICA:\\n'\n    + '- Cada mensagem deve conter APENAS UMA pergunta.\\n'\n    + '- Essa pergunta deve mapear para UM UNICO campo: NPS ou Sugestao ou Objecao ou Intencao.\\n'\n    + '- Nunca misture contexto anterior com a pergunta atual.\\n'\n    + '- Nunca faca perguntas compostas.\\n'\n    + '\\n'\n    + 'FORMATO OBRIGATORIO:\\n'\n    + '- 1 frase curta de contexto\\n'\n    + '- 1 pergunta direta\\n'\n    + '- Nada mais\\n'\n    + '- Se o objetivo for coletar Intencao, pergunte diretamente: voce pensa em se matricular?\\n'\n    + '- Se o objetivo for coletar Objecao, pergunte: tem algo que te impediria de se matricular?\\n'\n    + '\\n'\n    + 'TOM:\\n'\n    + '- Mensagens curtas. WhatsApp nao e e-mail.\\n'\n    + '- Caloroso, direto, humano.\\n'\n    + '- Maximo 1 emoji por mensagem.\\n'\n    + '- Nunca use: feedback, avaliacao, formulario, pesquisa, nota, pontuacao.\\n'\n    + '- Nunca pressione para matricula.\\n'\n    + '- Se o usuario mencionar preco ou planos, diga que a equipe da Treno vai entrar em contato. Nao ofereca valores.\\n';\n}\n\nconst campo_sendo_coletado = faltando.length > 0\n  ? faltando[0]\n  : '(todos ja coletados — Bell estava encerrando a conversa)';\n\nconst prompt_extractor =\n  'Voce e um extrator de dados estruturados.\\n'\n  + '\\n'\n  + 'Sua tarefa: extrair dados da MENSAGEM DO USUARIO.\\n'\n  + 'A mensagem do usuario e uma resposta ao CAMPO QUE BELL ESTAVA COLETANDO.\\n'\n  + '\\n'\n  + 'CAMPO QUE BELL ESTAVA COLETANDO NESTA TROCA:\\n'\n  + campo_sendo_coletado + '\\n'\n  + '\\n'\n  + 'ESTADO ATUAL DA COLETA:\\n'\n  + linha_nps + '\\n'\n  + linha_sug + '\\n'\n  + linha_obj + '\\n'\n  + linha_int + '\\n'\n  + '\\n'\n  + 'MENSAGEM DO USUARIO:\\n'\n  + '\"' + user_message + '\"\\n'\n  + '\\n'\n  + 'REGRAS DE EXTRACAO:\\n'\n  + '\\n'\n  + 'NPS — extrair quando campo for NPS:\\n'\n  + '  * Numero direto 0-10 ou por extenso (zero=0...dez=10) -> nps = esse numero\\n'\n  + '  * nota X, seria X, daria X, X/10 -> nps = X\\n'\n  + '  * Se nenhum numero identificavel -> nps = null\\n'\n  + '\\n'\n  + 'intent_matricula — extrair quando campo for Intencao:\\n'\n  + '  * sim, quero, vou, pretendo, claro, com certeza, vai sim, pode ser -> intent_matricula: true\\n'\n  + '  * nao quero, nao vou, nao tenho interesse, talvez, nao sei, ainda nao decidi -> intent_matricula: false\\n'\n  + '  * Nao seguido de explicacao (ex: Nao, o que quis dizer...) -> null, nao extraia intencao\\n'\n  + '  * Nao sozinho (sem contexto adicional) -> intent_matricula: null (inconclusivo)\\n'\n  + '  * Nao quero, nao vou, nao tenho interesse, nao pretendo -> intent_matricula: false\\n'\n  + '  * Se campo NAO for Intencao -> retorne null para intent_matricula\\n'\n  + '\\n'\n  + 'sugestao — extrair quando campo for Sugestao:\\n'\n  + '  * Extraia de forma fiel o que o usuario disse, usando as palavras dele\\n'\n  + '  * NUNCA use texto generico como gostou da experiencia\\n'\n  + '\\n'\n  + 'objecoes — extrair quando campo for Objecao:\\n'\n  + '  * nao, nenhuma, nao tenho, nada -> objecoes: nenhuma\\n'\n  + '  * Barreira concreta -> objecoes: texto descritivo\\n'\n  + '\\n'\n  + 'CORRECAO ESPECIAL — intent_matricula:\\n'\n  + '  * Se o estado mostra intent_matricula como ENCERRADO=false MAS o usuario diz sim/quero/vou/pretendo de forma clara, extraia intent_matricula: true (correcao de erro anterior)\\n'\n  + '\\n'\n  + 'REGRAS GERAIS:\\n'\n  + '  * Se campo ja esta ENCERRADO no estado, retorne null para ele (EXCETO correcao de intent_matricula acima)\\n'\n  + '  * Se campo nao foi respondido, retorne null\\n'\n  + '  * NPS: numero inteiro 0-10 ou null\\n'\n  + '  * intent_matricula: true, false ou null\\n'\n  + '  * sugestao e objecoes: strings descritivas ou null\\n'\n  + '\\n'\n  + 'Retorne APENAS este JSON, sem texto adicional:\\n'\n  + '{\"nps\": <number|null>, \"sugestao\": <string|null>, \"objecoes\": <string|null>, \"intent_matricula\": <boolean|null>}\\n';\n\nreturn [{\n  json: {\n    phone,\n    session_id,\n    user_message,\n    professor,\n    coleta_step,\n    participant_type,\n    encerrando,\n    prompt_communicator,\n    prompt_extractor,\n    estado_atual: { nps, sugestao, objecoes, intent_matricula },\n    faltando,\n    e_primeira_mensagem,\n    primeira_mensagem_fixa\n  }\n}];\n"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1280, 880], "id": "c4d93a30-0977-4d04-b79b-9daf1dafaad6", "name": "Monta Prompts"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "if-primeira-001", "leftValue": "={{ $json.e_primeira_mensagem }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"}, "options": {}}, "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1504, 880], "id": "bff28941-82ad-4e18-95cf-054abf596464", "name": "E primeira mensagem?"}, {"parameters": {"operation": "delete", "key": "={{ $('Monta Prompts').item.json.phone }}"}, "type": "n8n-nodes-base.redis", "typeVersion": 1, "position": [1728, 800], "id": "bb39075b-a31c-4843-93e2-025c14e16298", "name": "Limpa Redis", "credentials": {"redis": {"id": "giRY6SDtOMsz4RYj", "name": "Redis account"}}}, {"parameters": {"promptType": "define", "text": "={{ $('Monta Prompts').item.json.user_message }}", "options": {"systemMessage": "={{ $('Monta Prompts').item.json.prompt_communicator }}"}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 2.2, "position": [1952, 880], "id": "554f790f-2338-4971-bcd6-00951b624b55", "name": "Communicator"}, {"parameters": {"model": {"__rl": true, "mode": "list", "value": "gpt-4o-mini"}, "options": {}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.2, "position": [1968, 1104], "id": "0a86c9ae-253c-44d9-83e7-3136e2832bdc", "name": "OpenAI Communicator", "credentials": {"openAiApi": {"id": "rlKGVgBF4WeVR6x8", "name": "OpenAi account"}}}, {"parameters": {"sessionIdType": "customKey", "sessionKey": "={{ $('Monta Prompts').item.json.phone }}"}, "type": "@n8n/n8n-nodes-langchain.memoryRedisChat", "typeVersion": 1.5, "position": [2096, 1104], "id": "0ec32f06-6685-4fdb-995b-9f52c3954ec1", "name": "Redis Chat Memory", "credentials": {"redis": {"id": "giRY6SDtOMsz4RYj", "name": "Redis account"}}}, {"parameters": {"assignments": {"assignments": [{"id": "set-extractor-001", "name": "prompt_extractor_final", "value": "={{ $('Monta Prompts').item.json.prompt_extractor }}", "type": "string"}]}, "options": {}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [2304, 880], "id": "64a5dda7-a87a-4b20-8e51-7e4cbf312caa", "name": "Monta Prompt Extractor"}, {"parameters": {"promptType": "define", "text": "={{ $json.prompt_extractor_final }}", "messages": {"messageValues": [{"type": "HumanMessagePromptTemplate", "message": "={{ $json.prompt_extractor_final }}"}]}}, "type": "@n8n/n8n-nodes-langchain.chainLlm", "typeVersion": 1.4, "position": [2528, 880], "id": "5c23c20d-7088-41b0-9dbf-340cc7fbf913", "name": "Extractor"}, {"parameters": {"model": {"__rl": true, "mode": "list", "value": "gpt-4o-mini"}, "options": {}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.2, "position": [2608, 1104], "id": "b0de1b5b-1b1d-4602-b665-df2553d2ace5", "name": "OpenAI Extractor", "credentials": {"openAiApi": {"id": "rlKGVgBF4WeVR6x8", "name": "OpenAi account"}}}, {"parameters": {"jsCode": "const estadoAtual = $('Monta Prompts').first().json.estado_atual;\nconst rawOutput   = $('Extractor').first().json.text || '';\n\nlet extraido = {};\ntry {\n  const clean = rawOutput.replace(/```json|```/g, '').trim();\n  extraido = JSON.parse(clean);\n} catch(e) {\n  extraido = {};\n}\n\nconst nps = (extraido.nps !== null && extraido.nps !== undefined)\n  ? extraido.nps\n  : estadoAtual.nps;\n\nconst sugestao = (extraido.sugestao !== null && extraido.sugestao !== undefined && extraido.sugestao !== '')\n  ? extraido.sugestao\n  : estadoAtual.sugestao;\n\nconst objecoes = (extraido.objecoes !== null && extraido.objecoes !== undefined && extraido.objecoes !== '')\n  ? extraido.objecoes\n  : estadoAtual.objecoes;\n\n// intent_matricula: true sempre prevalece sobre false (correcao de erro de extracao)\nconst intent_matricula = extraido.intent_matricula === true\n  ? true\n  : (extraido.intent_matricula === false && estadoAtual.intent_matricula !== true)\n  ? false\n  : estadoAtual.intent_matricula;\n\nconst encerrando    = $('Monta Prompts').first().json.encerrando || false;\nconst faltando      = $('Monta Prompts').first().json.faltando || [];\nconst todos_coletados = encerrando || (\n  nps !== null &&\n  sugestao !== null &&\n  objecoes !== null &&\n  intent_matricula !== null\n);\n\nconst session_id = $('Monta Prompts').first().json.session_id;\n\nreturn [{\n  json: {\n    session_id,\n    nps,\n    sugestao,\n    objecoes,\n    intent_matricula,\n    todos_coletados\n  }\n}];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2880, 880], "id": "726ad59b-4065-40c7-9e19-3d5c7235c5c1", "name": "Merge Estado"}, {"parameters": {"operation": "executeQuery", "query": "UPDATE trial_feedback SET nps = $1, sugestao = $2, objecoes = $3, intent_matricula = $4, status_coleta = CASE WHEN $5 THEN 'concluida' ELSE 'parcial' END, finished_at = CASE WHEN $5 THEN NOW() ELSE NULL END, last_user_message = $6, last_user_message_at = NOW() WHERE session_id = $7", "options": {"queryReplacement": "={{ [ $json.nps, $json.sugestao, $json.objecoes, $json.intent_matricula, $json.todos_coletados, $('Monta Prompts').item.json.user_message, $json.session_id ] }}"}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [3104, 880], "id": "ab413de0-c599-41cf-aa91-8a269890b7f0", "name": "Atualiza Estado", "credentials": {"postgres": {"id": "Qu3wWADR0qH8hskO", "name": "Postgres account"}}}, {"parameters": {"method": "POST", "url": "https://evo.heymax.fit/message/sendText/trenobell", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "7FE740D978BC-436B-BA12-55589F0A4037"}]}, "sendBody": true, "bodyParameters": {"parameters": [{"name": "number", "value": "={{ $('Monta Prompts').item.json.phone }}"}, {"name": "text", "value": "={{ $('Communicator').item.json.output }}"}]}, "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3328, 880], "id": "7fc505cf-f5c6-42ef-a6a7-9c4871f1b48c", "name": "Envia WhatsApp"}, {"parameters": {"operation": "executeQuery", "query": "UPDATE trial_feedback SET last_bot_message_at = NOW() WHERE session_id = $1", "options": {"queryReplacement": "={{ [ $('Monta Prompts').item.json.session_id ] }}"}}, "type": "n8n-nodes-base.postgres", "typeVersion": 2.6, "position": [3552, 880], "id": "36598de1-a7b5-48db-a213-417cdd4622ed", "name": "Atualiza Timestamps", "credentials": {"postgres": {"id": "Qu3wWADR0qH8hskO", "name": "Postgres account"}}}], "connections": {"Execute Workflow Trigger": {"main": [[{"node": "Entrada", "type": "main", "index": 0}]]}, "Entrada": {"main": [[{"node": "Detecta Encerramento", "type": "main", "index": 0}]]}, "Detecta Encerramento": {"main": [[{"node": "Busca Estado", "type": "main", "index": 0}]]}, "Busca Estado": {"main": [[{"node": "Monta Prompts", "type": "main", "index": 0}]]}, "Monta Prompts": {"main": [[{"node": "E primeira mensagem?", "type": "main", "index": 0}]]}, "E primeira mensagem?": {"main": [[{"node": "Limpa Redis", "type": "main", "index": 0}], [{"node": "Communicator", "type": "main", "index": 0}]]}, "Limpa Redis": {"main": [[{"node": "Communicator", "type": "main", "index": 0}]]}, "Communicator": {"main": [[{"node": "Monta Prompt Extractor", "type": "main", "index": 0}]]}, "Monta Prompt Extractor": {"main": [[{"node": "Extractor", "type": "main", "index": 0}]]}, "Extractor": {"main": [[{"node": "Merge Estado", "type": "main", "index": 0}]]}, "Merge Estado": {"main": [[{"node": "Atualiza Estado", "type": "main", "index": 0}]]}, "Atualiza Estado": {"main": [[{"node": "Envia WhatsApp", "type": "main", "index": 0}]]}, "Envia WhatsApp": {"main": [[{"node": "Atualiza Timestamps", "type": "main", "index": 0}]]}, "OpenAI Communicator": {"ai_languageModel": [[{"node": "Communicator", "type": "ai_languageModel", "index": 0}]]}, "Redis Chat Memory": {"ai_memory": [[{"node": "Communicator", "type": "ai_memory", "index": 0}]]}, "OpenAI Extractor": {"ai_languageModel": [[{"node": "Extractor", "type": "ai_languageModel", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}