wf_put_response.json
{"updatedAt":"2026-04-03T03:14:43.183Z","createdAt":"2026-03-05T13:42:23.306Z","id":"x2WBqbyUfxWczi5E","name":"[FUNIL] Aula Experimental","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 13 * * *"},{"field":"cronExpression","expression":"0 21 * * *"}]}},"id":"c710e04a-f384-4c54-bb22-029ffa5cf19e","name":"Schedule Trigger","position":[-176,768],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2},{"parameters":{"url":"https://evo-integracao-api.w12app.com.br/api/v1/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"registerInitialDate","value":"={{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy') }}"},{"name":"take","value":"200"}]},"options":{"timeout":10000}},"id":"8d8e88a0-410f-4974-af5a-ab966a22abe6","name":"Buscar entradas do dia","position":[48,768],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"httpBasicAuth":{"id":"zpKpPOzFmgdtpDxd","name":"API EVO Treno"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst filtered = items.filter(item => \n  item.json.idProspect !== null && \n  item.json.idProspect !== undefined &&\n  item.json.idMember === null\n);\n\nif (filtered.length === 0) {\n  return [];\n}\n\nreturn filtered.map(item => ({ json: item.json }));"},"id":"9d1e6978-f0b0-49be-9b50-0afcc27718eb","name":"Filtrar prospects","position":[272,768],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"url":"https://evo-integracao-api.w12app.com.br/api/v1/prospects","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"idProspect","value":"={{ $json.idProspect }}"},{"name":"take","value":"1"}]},"options":{"timeout":10000}},"id":"4e02c50c-99da-4dfb-81cb-c54af0546a34","name":"Buscar dados do prospect","position":[496,768],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"httpBasicAuth":{"id":"zpKpPOzFmgdtpDxd","name":"API EVO Treno"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id FROM trial_feedback WHERE phone = $1 AND DATE(started_at) = CURRENT_DATE","options":{"queryReplacement":"={{ [ $('Buscar dados do prospect').item.json.cellphone ] }}"}},"id":"cfbaa615-55aa-4419-9a01-31c9a3ce3ac2","name":"Check de duplicata","position":[720,768],"type":"n8n-nodes-base.postgres","typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Qu3wWADR0qH8hskO","name":"Postgres account"}}},{"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"1","leftValue":"={{ Object.keys($json).length }}","operator":{"operation":"equals","type":"number"},"rightValue":0}],"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"}},"options":{}},"id":"9cd86091-4193-4113-9800-7dee4bda94b3","name":"Duplicata IF","position":[944,768],"type":"n8n-nodes-base.if","typeVersion":2.2},{"parameters":{"jsCode":"const prospect = $node['Buscar dados do prospect'].json;\nconst data = Array.isArray(prospect) ? prospect[0] : prospect;\n\nconst uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n  const r = Math.random() * 16 | 0;\n  const v = c === 'x' ? r : (r & 0x3 | 0x8);\n  return v.toString(16);\n});\n\nconst numero = '55' + data.cellphone;\nconst nome = data.firstName.charAt(0).toUpperCase() + data.firstName.slice(1).toLowerCase();\n\nreturn [{\n  json: {\n    session_id: uuid,\n    cellphone: '55' + data.cellphone,\n    numero_formatado: numero,\n    firstName: nome,\n    payload_evo: JSON.stringify({\n      number: numero,\n      text: 'Olá, ' + nome + '! 👋 Que bom ter você aqui hoje! Como foi sua experiência na aula experimental? Conta pra mim 😊',\n      delay: 0\n    })\n  }\n}];"},"id":"0ac1a5b3-a2cc-4536-806a-f78ca9cc7f6c","name":"Generate UUID","position":[1168,768],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"method":"POST","url":"https://evo.heymax.fit/message/sendText/trenobell","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"7FE740D978BC-436B-BA12-55589F0A4037"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json.payload_evo }}","options":{}},"id":"11eb5fc1-0cc5-4e6b-9d97-20f1b17fe452","name":"Enviar mensagem de abertura","position":[1392,768],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"parameters":{"operation":"executeQuery","query":"INSERT INTO trial_feedback \n  (session_id, phone, nome, coleta_step, status_coleta, \n   started_at, last_bot_message_at, engajamento_status)\nVALUES ($1, $2, $3, 'q1', 'parcial', NOW(), NOW(), 'aguardando_resposta')","options":{"queryReplacement":"={{ [ \n  $('Generate UUID').item.json.session_id, \n  $('Generate UUID').item.json.cellphone,\n  $('Generate UUID').item.json.firstName\n] }}"}},"id":"e22007ba-0d58-4986-8a54-9eee116cf159","name":"INSERT em trial_feedback","position":[1616,768],"type":"n8n-nodes-base.postgres","typeVersion":2.6,"credentials":{"postgres":{"id":"Qu3wWADR0qH8hskO","name":"Postgres account"}}},{"parameters":{"httpMethod":"POST","path":"funil-aula-experimental-test","options":{}},"id":"829819c3-7a91-4612-8dc0-939fc0f7db95","name":"Webhook Trigger (Teste)","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-176,480],"webhookId":"4209adf0-b4e5-47aa-b7d2-31553d9385b2"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Buscar entradas do dia","type":"main","index":0}]]},"Buscar entradas do dia":{"main":[[{"node":"Filtrar prospects","type":"main","index":0}]]},"Filtrar prospects":{"main":[[{"node":"Buscar dados do prospect","type":"main","index":0}]]},"Buscar dados do prospect":{"main":[[{"node":"Check de duplicata","type":"main","index":0}]]},"Check de duplicata":{"main":[[{"node":"Duplicata IF","type":"main","index":0}]]},"Duplicata IF":{"main":[[{"node":"Generate UUID","type":"main","index":0}]]},"Generate UUID":{"main":[[{"node":"Enviar mensagem de abertura","type":"main","index":0}]]},"Enviar mensagem de abertura":{"main":[[{"node":"INSERT em trial_feedback","type":"main","index":0}]]},"Webhook Trigger (Teste)":{"main":[[{"node":"Buscar entradas do dia","type":"main","index":0}]]}},"settings":{"timezone":"America/Sao_Paulo","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Buscar entradas do dia":[{"json":{"date":"2026-03-07T10:00:00","idMember":null,"idProspect":97,"nameMember":null,"nameProspect":"TESTE","entryType":"Controle de acesso","entryAction":"entry"}}],"Buscar dados do prospect":[{"json":{"idProspect":97,"idBranch":1,"branchName":"T. family club","firstName":"Mardo","lastName":"Teste","cellphone":"81999897501","email":"","registerDate":"2026-01-01T00:00:00","gender":"M","signupType":"Other","idMember":null}}]},"versionId":"0d406dda-5341-49f4-898e-3cbcd98f0506","activeVersionId":"0d406dda-5341-49f4-898e-3cbcd98f0506","versionCounter":125,"triggerCount":2,"tags":[],"activeVersion":{"updatedAt":"2026-04-03T03:14:43.184Z","createdAt":"2026-04-03T03:14:43.184Z","versionId":"0d406dda-5341-49f4-898e-3cbcd98f0506","workflowId":"x2WBqbyUfxWczi5E","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 13 * * *"},{"field":"cronExpression","expression":"0 21 * * *"}]}},"id":"c710e04a-f384-4c54-bb22-029ffa5cf19e","name":"Schedule Trigger","position":[-176,768],"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2},{"parameters":{"url":"https://evo-integracao-api.w12app.com.br/api/v1/entries","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"registerInitialDate","value":"={{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy') }}"},{"name":"take","value":"200"}]},"options":{"timeout":10000}},"id":"8d8e88a0-410f-4974-af5a-ab966a22abe6","name":"Buscar entradas do dia","position":[48,768],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"httpBasicAuth":{"id":"zpKpPOzFmgdtpDxd","name":"API EVO Treno"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst filtered = items.filter(item => \n  item.json.idProspect !== null && \n  item.json.idProspect !== undefined &&\n  item.json.idMember === null\n);\n\nif (filtered.length === 0) {\n  return [];\n}\n\nreturn filtered.map(item => ({ json: item.json }));"},"id":"9d1e6978-f0b0-49be-9b50-0afcc27718eb","name":"Filtrar prospects","position":[272,768],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"url":"https://evo-integracao-api.w12app.com.br/api/v1/prospects","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"idProspect","value":"={{ $json.idProspect }}"},{"name":"take","value":"1"}]},"options":{"timeout":10000}},"id":"4e02c50c-99da-4dfb-81cb-c54af0546a34","name":"Buscar dados do prospect","position":[496,768],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"httpBasicAuth":{"id":"zpKpPOzFmgdtpDxd","name":"API EVO Treno"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id FROM trial_feedback WHERE phone = $1 AND DATE(started_at) = CURRENT_DATE","options":{"queryReplacement":"={{ [ $('Buscar dados do prospect').item.json.cellphone ] }}"}},"id":"cfbaa615-55aa-4419-9a01-31c9a3ce3ac2","name":"Check de duplicata","position":[720,768],"type":"n8n-nodes-base.postgres","typeVersion":2.6,"alwaysOutputData":true,"credentials":{"postgres":{"id":"Qu3wWADR0qH8hskO","name":"Postgres account"}}},{"parameters":{"conditions":{"combinator":"and","conditions":[{"id":"1","leftValue":"={{ Object.keys($json).length }}","operator":{"operation":"equals","type":"number"},"rightValue":0}],"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"}},"options":{}},"id":"9cd86091-4193-4113-9800-7dee4bda94b3","name":"Duplicata IF","position":[944,768],"type":"n8n-nodes-base.if","typeVersion":2.2},{"parameters":{"jsCode":"const prospect = $node['Buscar dados do prospect'].json;\nconst data = Array.isArray(prospect) ? prospect[0] : prospect;\n\nconst uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n  const r = Math.random() * 16 | 0;\n  const v = c === 'x' ? r : (r & 0x3 | 0x8);\n  return v.toString(16);\n});\n\nconst numero = '55' + data.cellphone;\nconst nome = data.firstName.charAt(0).toUpperCase() + data.firstName.slice(1).toLowerCase();\n\nreturn [{\n  json: {\n    session_id: uuid,\n    cellphone: '55' + data.cellphone,\n    numero_formatado: numero,\n    firstName: nome,\n    payload_evo: JSON.stringify({\n      number: numero,\n      text: 'Olá, ' + nome + '! 👋 Que bom ter você aqui hoje! Como foi sua experiência na aula experimental? Conta pra mim 😊',\n      delay: 0\n    })\n  }\n}];"},"id":"0ac1a5b3-a2cc-4536-806a-f78ca9cc7f6c","name":"Generate UUID","position":[1168,768],"type":"n8n-nodes-base.code","typeVersion":2},{"parameters":{"method":"POST","url":"https://evo.heymax.fit/message/sendText/trenobell","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"7FE740D978BC-436B-BA12-55589F0A4037"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json.payload_evo }}","options":{}},"id":"11eb5fc1-0cc5-4e6b-9d97-20f1b17fe452","name":"Enviar mensagem de abertura","position":[1392,768],"type":"n8n-nodes-base.httpRequest","typeVersion":4.2},{"parameters":{"operation":"executeQuery","query":"INSERT INTO trial_feedback \n  (session_id, phone, nome, coleta_step, status_coleta, \n   started_at, last_bot_message_at, engajamento_status)\nVALUES ($1, $2, $3, 'q1', 'parcial', NOW(), NOW(), 'aguardando_resposta')","options":{"queryReplacement":"={{ [ \n  $('Generate UUID').item.json.session_id, \n  $('Generate UUID').item.json.cellphone,\n  $('Generate UUID').item.json.firstName\n] }}"}},"id":"e22007ba-0d58-4986-8a54-9eee116cf159","name":"INSERT em trial_feedback","position":[1616,768],"type":"n8n-nodes-base.postgres","typeVersion":2.6,"credentials":{"postgres":{"id":"Qu3wWADR0qH8hskO","name":"Postgres account"}}},{"parameters":{"httpMethod":"POST","path":"funil-aula-experimental-test","options":{}},"id":"829819c3-7a91-4612-8dc0-939fc0f7db95","name":"Webhook Trigger (Teste)","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-176,480],"webhookId":"4209adf0-b4e5-47aa-b7d2-31553d9385b2"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Buscar entradas do dia","type":"main","index":0}]]},"Buscar entradas do dia":{"main":[[{"node":"Filtrar prospects","type":"main","index":0}]]},"Filtrar prospects":{"main":[[{"node":"Buscar dados do prospect","type":"main","index":0}]]},"Buscar dados do prospect":{"main":[[{"node":"Check de duplicata","type":"main","index":0}]]},"Check de duplicata":{"main":[[{"node":"Duplicata IF","type":"main","index":0}]]},"Duplicata IF":{"main":[[{"node":"Generate UUID","type":"main","index":0}]]},"Generate UUID":{"main":[[{"node":"Enviar mensagem de abertura","type":"main","index":0}]]},"Enviar mensagem de abertura":{"main":[[{"node":"INSERT em trial_feedback","type":"main","index":0}]]},"Webhook Trigger (Teste)":{"main":[[{"node":"Buscar entradas do dia","type":"main","index":0}]]}},"authors":"Mardo Carneiro","name":null,"description":null,"autosaved":false}}